/* Estilos generales para la página de inicio */
.index {
    margin: 0;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-image: url("../images/kanto-map.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}   

/*Titulo principal de la página de inicio */
.titulo {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 30px;
    text-shadow: 2px 2px 5px black;
}

.contenedor {
    display: flex;
    height: 100vh;
}

/*Estilos para la imagen de la pokedex y la lista de los pokemons */
.lado-izquierdo {
    width: 300px;
    padding: 20px;
}


.img-pokedex {
    width: 100%;
    margin-bottom: 20px;
}


.lista a {
    list-style: none;
    padding: 0;
}

.lista li {
    margin: 10px 0;
}

.lista a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.lista a:hover {
    text-decoration: underline;
}

/* CSS para los Pokemons */
.gengar, .cindaquill, .mew, .rayquaza {
    background-color: antiquewhite;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Estilos para las imágenes de los pokemons */
#foto-gengar, #foto-cindaquill, #foto-mew, #foto-rayquaza {
    width: 300px;
    height: auto;
}

/* Estilos para los títulos de los pokemons */
.titulo-gengar, .titulo-cindaquill, .titulo-mew, .titulo-rayquaza {
    text-align: center;
    color: black;
    font-size: 30px;
}

#paginaInicial a { 
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#paginaInicial {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para las listas de las evoluciones de los pokemons */
.lista-gengar a, .lista-cindaquill a, .lista-mew a, .lista-rayquaza a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}